/* purple button */
.btn-purple {
  color: #ffffff; 
  background-color: #611BBD; 
  border-color: #611BBD;
} 
 
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active,
.open .dropdown-toggle.btn-purple {
  color: #ffffff; 
  background-color: #49247A;
  border-color: #611BBD;
} 
 
.btn-purple:active,
.btn-purple.active,
.open .dropdown-toggle.btn-purple {
  background-image: none; 
} 
 
.btn-purple.disabled,
.btn-purple[disabled],
fieldset[disabled] .btn-purple,
.btn-purple.disabled:hover,
.btn-purple[disabled]:hover,
fieldset[disabled] .btn-purple:hover,
.btn-purple.disabled:focus,
.btn-purple[disabled]:focus,
fieldset[disabled] .btn-purple:focus,
.btn-purple.disabled:active,
.btn-purple[disabled]:active,
fieldset[disabled] .btn-purple:active,
.btn-purple.disabled.active,
.btn-purple[disabled].active,
fieldset[disabled] .btn-purple.active {
  background-color: #611BBD; 
  border-color: #611BBD;
} 
 
.btn-purple .badge {
  color: #611BBD; 
  background-color: #ffffff; 
}
.btn-purple:not(:disabled):not(.disabled):focus,
.btn-purple:not(:disabled):not(.disabled):active:focus,
.show>.btn-purple.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #a06de4;
}
.btn-purple.focus, .btn-purple:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem #a06de4;
}
/* no padding for jumbotron (besides sides) */
.jumbotron-no-padding {
   padding: 0rem 1rem;
   margin-bottom: 0rem;
}
/* no padding for jumbotron (besides top/bottom) */
.jumbotron-little-padding {
   padding: 1rem 0rem;
   margin-bottom: 0rem;
}
