/* custom button resizing code*/

@media (max-width: 992px) {
  .btn {
      display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .img-fluid-cooler {
    max-width: 30%;
    height: auto;
  }
  .btn-responsive-block-full {
    width: 100%;
    display: block;
  }
}
@media (max-width: 767px) {
  .btn-responsive-block {
    width: 100%;
    display: block;
  }
}
