.btn-sample {
  color: #ffffff; 
  background-color: #611BBD; 
  border-color: #611BBD;
} 
 
.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  color: #ffffff; 
  background-color: #49247A; 
  border-color: #611BBD;
} 
 
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  background-image: none; 
} 
 
.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
  background-color: #611BBD; 
  border-color: #611BBD;
} 
 
.btn-sample .badge {
  color: #611BBD; 
  background-color: #ffffff; 
}
