{% extends "layout.html" %}
{% block title %}
 About
{% endblock %}
{% block content %}
  <!-- ABOUT THIS WEBSITE -->
  <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">About this website</h1>
        </div>
  </section>

  <!-- reusing recommendations.html code for centering! -->
  <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="mx-auto my-3 text-center">
          <img class="rounded-circle" src="../static/about/info.png" alt="Info icon" width="140" height="140">
          <h2>Why did I make this?</h2>
          <p>One day, my classmate in school saw my fancy Linux install on my laptop, and asked how I got it. After explaining to him what Linux was, he immediately wanted it, but got stuck in deciding which distro, out of the current thousand's, would he use. This got an idea in my head to create this website, making it easier for beginners as well as advanced users to have an easy method to use Linux. Just like all the distro's curated in this website, the code for my website as well as the projects it uses are open source too! Click the button below to see the Git repo of my code.</p>
          <p><a class="btn btn-purple" href="https://www.gitlab.com/aviwad/librehunt" role="button">View Code »</a></p>
        </div>
      </div>
  </div>

  <!-- ABOUT ME -->
  <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">About me</h1>
        </div>
  </section>

  <!-- reusing recommendations.html code for centering! -->
  <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="mx-auto my-3 text-center">
          <img class="rounded-circle" src="../static/about/myFace.jpg" alt="My Face" width="140" height="140">
          <h2>Avi Wadhwa</h2>
          <p>Hello there! I'm an Indian fifteen year old FOSS (Free, Open Source Software) enthusiast, working on this website. I currently use Fedora. You can contact me/see what I'm up to these days via the buttons below!</p>
            <button class="btn btn-primary" type="button" onclick="location.href='https://www.twitter.com/aviwad'">
              <span>My Twitter 🐦</span>
            </button>
            <button class="btn btn-warning" type="button" onclick="location.href='https://www.gitlab.com/aviwad'">
              <span>My GitLab 🦊</span>
            </button>
            <button class="btn btn-danger" type="button" onclick="location.href='mailto:aviwad@gmail.com'">
              <span>My Gmail 📧</span>
            </button>
            <button class="btn btn-secondary" type="button" onclick="location.href='https://www.github.com/aviwad'">
              <span>My GitHub</span>
              <img  src="../static/about/octocat.png" width="32" height="22"/>
            </button>
        </div>
      </div>
  </div>

  <!-- THE PROJECTS THAT HELPED ME -->
  <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Shoutout to the projects, communities and people who helped in the making of this ✨</h1>
        </div>
  </section>

  <!-- Bootstrap -->
  <section>
    <div class="container py-3">
      <div class="card">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-4">
              <img src="../static/about/credits/bootstrap.png" class="mx-auto d-block">
            </div>
            <div class="col-md-8 px-3 py-3">
              <div class="card-block px-3 py-3">
                <h4 class="card-title">Bootstrap</h4>
                <p class="card-text">Bootstrap is the CSS library used throughout this website. I used it, albeit with some slight modifications (like the purple buttons!)</p>
                <a href="https://getbootstrap.com/" class="btn btn-purple">Website</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- GNOME -->
  <section>
    <div class="container py-3">
      <div class="card">
        <div class="row justify-content-center align-items-center ">
          <div class="col-md-4">
              <img src="../static/about/credits/gnome.png" class="mx-auto d-block">
            </div>
            <div class="col-md-8 px-3 py-3">
              <div class="card-block px-3 py-3">
                <h4 class="card-title">GNOME</h4>
                <p class="card-text">GNOME is dedicated to building a FOSS desktop with apps, and a toolkit. They are what got me interested in Linux in the first place, due to how clean and cohesive it is. I also built my website on Gnome Builder, Gnome's own IDE, while on my Gnome desktop powered Fedora laptop!</p>
                <a href="https://www.gnome.org" class="btn btn-purple">Website</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- GitLab --->
  <section>
    <div class="container py-3">
      <div class="card">
        <div class="row justify-content-center align-items-center ">
          <div class="col-md-4">
              <img src="../static/about/credits/gitlab.png" class="mx-auto d-block">
            </div>
            <div class="col-md-8 px-3 py-3">
              <div class="card-block px-3 py-3">
                <h4 class="card-title">GitLab</h4>
                <p class="card-text">Innovative hosting of Git, like GitHub, but open source as well. My code is hosted there!</p>
                <a href="https://gitlab.com/" class="btn btn-purple">Website</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Git -->
  <section>
    <div class="container py-3">
      <div class="card">
        <div class="row justify-content-center align-items-center ">
          <div class="col-md-4">
              <img src="../static/about/credits/git.png" class="mx-auto d-block">
            </div>
            <div class="col-md-8 px-3 py-3">
              <div class="card-block px-3 py-3">
                <h4 class="card-title">Git</h4>
                <p class="card-text">The most popular version control system. My code uses Git for version control!</p>
                <a href="https://git-scm.com/" class="btn btn-purple">Website<a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Linux -->
  <section>
    <div class="container py-3">
      <div class="card">
        <div class="row justify-content-center align-items-center ">
          <div class="col-md-4">
              <img src="../static/about/credits/linux.png" class="mx-auto d-block">
            </div>
            <div class="col-md-8 px-3 py-3">
              <div class="card-block px-3 py-3">
                <h4 class="card-title">Linux</h4>
                <p class="card-text">The Linux kernel, used on my laptop, on millions of other laptops, on the server hosting my website, as well as what all the distro's are based on. Without Linux there would be no distro's in the first place.</p>
                <a href="https://kernel.org/" class="btn btn-purple">Website<a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Flask -->
  <section>
    <div class="container py-3">
      <div class="card">
        <div class="row justify-content-center align-items-center ">
          <div class="col-md-4">
              <img src="../static/about/credits/flask.png" class="mx-auto d-block">
            </div>
            <div class="col-md-8 px-3 py-3">
              <div class="card-block px-3 py-3">
                <h4 class="card-title">Flask</h4>
                <p class="card-text">A Python web microframework, used in my code for the backend. It's wonderful!</p>
                <a href="http://flask.pocoo.org/" class="btn btn-purple">Website</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Python -->
  <section>
    <div class="container py-3">
      <div class="card">
        <div class="row justify-content-center align-items-center ">
          <div class="col-md-4">
              <img src="../static/about/credits/python.png" class="mx-auto d-block">
            </div>
            <div class="col-md-8 px-3 py-3">
              <div class="card-block px-3 py-3">
                <h4 class="card-title">Python</h4>
                <p class="card-text">An awesome, interpreted Object Oriented Language. My code for the website is in Python, because this language is my favorite!</p>
                <a href="https://www.python.org/" class="btn btn-purple">Website</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SQLite -->
  <section>
    <div class="container py-3">
      <div class="card">
        <div class="row justify-content-center align-items-center ">
          <div class="col-md-4">
              <img src="../static/about/credits/sqlite.png" class="mx-auto d-block">
            </div>
            <div class="col-md-8 px-3 py-3">
              <div class="card-block px-3 py-3">
                <h4 class="card-title">SQLite</h4>
                <p class="card-text">A self contained rational database. I used this SQL database for storing my curated list of distro's and their properties.</p>
                <a href="https://www.sqlite.org/index.html" class="btn btn-purple">Website</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- LetsEncrypt -->
  <section>
    <div class="container py-3">
      <div class="card">
        <div class="row justify-content-center align-items-center ">
          <div class="col-md-4">
              <img src="../static/about/credits/letsencrypt.png" class="mx-auto d-block">
            </div>
            <div class="col-md-8 px-3 py-3">
              <div class="card-block px-3 py-3">
                <h4 class="card-title">LetsEncrypt</h4>
                <p class="card-text">Automated, secure, web certificates in a breeze! This project is the reason why my website is "secure" as said by Chrome under 2 minutes of setting up!</p>
                <a href="https://letsencrypt.org/" class="btn btn-purple">Website</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- DigitalOcean -->
  <section>
    <div class="container py-3">
      <div class="card">
        <div class="row justify-content-center align-items-center ">
          <div class="col-md-4">
              <img src="../static/about/credits/digitalocean.png" class="mx-auto d-block">
            </div>
            <div class="col-md-8 px-3 py-3">
              <div class="card-block px-3 py-3">
                <h4 class="card-title">DigitalOcean</h4>
                <p class="card-text">Possibly the greatest web hosting service of them all. For $5 per month, I got an Ubuntu droplet running under 5 minutes, with my code shifting over to professional hosting services such as this giving me a huge learning experience too! </p>
                <a href="https://www.digitalocean.com/" class="btn btn-purple">Website</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- DistroWatch -->
  <section>
    <div class="container py-3">
      <div class="card">
        <div class="row justify-content-center align-items-center ">
          <div class="col-md-4">
              <img src="../static/about/credits/distrowatch.png" class="mx-auto d-block">
            </div>
            <div class="col-md-8 px-3 py-3">
              <div class="card-block px-3 py-3">
                <h4 class="card-title">DistroWatch</h4>
                <p class="card-text">Although old, dusty, and not very user friendly, it is the most detailed website with details for each and every distro on the planet. I used this website to gather information about my curated list of distro's. </p>
                <a href="https://distrowatch.com/" class="btn btn-purple">Website</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- IB -->
  <section>
    <div class="container py-3">
      <div class="card">
        <div class="row justify-content-center align-items-center ">
          <div class="col-md-4">
              <img src="../static/about/credits/ib.png" class="mx-auto d-block">
            </div>
            <div class="col-md-8 px-3 py-3">
              <div class="card-block px-3 py-3">
                <h4 class="card-title">IB</h4>
                <p class="card-text">I currently study under this diploma in a school (more realistically, the MYP diploma) and their "Personal Project" is what gave me an opportunity to take time and work on this hobby of mine and improve, and hone my skills under school time!</p>
                <a href="https://www.ibo.org/" class="btn btn-purple">Website</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Twitter -->
  <section>
    <div class="container py-3">
      <div class="card">
        <div class="row justify-content-center align-items-center ">
          <div class="col-md-4">
              <img src="../static/about/credits/twitter.png" class="mx-auto d-block">
            </div>
            <div class="col-md-8 px-3 py-3">
              <div class="card-block px-3 py-3">
                <h4 class="card-title">Twitter</h4>
                <p class="card-text">I use Twitter's emoji's as some icons in my website! (like the favicon, the penguin! 🐧)</p>
                <a href="https://twitter.com/" class="btn btn-purple">Website</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Interviewees -->
  <section>
    <div class="container py-3">
      <div class="card">
        <div class="row justify-content-center align-items-center ">
            <div class="col-md-12 my-3 text-center">
              <div class="card-block px-3 py-3 my-3">
                <h4 class="card-title">The wonderful people I interviewed</h4>
                <p class="card-text">The wonderful developers and FOSS enthusiasts I interviewed for my personal project, way back in February. Cassidy James, Michael Hall, Brandon Nolet, Alecaddd, and Richard Brown. </p>
                <a href="https://twitter.com/cassidyjames" class="btn btn-primary">Cassidy James' Twitter 🐦</a>
                <a href="https://twitter.com/mhall119" class="btn btn-primary">Michael Hall's Twitter 🐦</a>
                <a href="https://twitter.com/LinuxLiaison" class="btn btn-primary">Brandon Nolet's Twitter 🐦</a>
                <a href="https://twitter.com/alecaddd" class="btn btn-primary">Alecaddd's Twitter 🐦</a>
                <a href="https://twitter.com/sysrich" class="btn btn-primary">Richard Brown's Twitter 🐦</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
