{% extends "layout.html" %}
{% block title %}
 About
{% endblock %}
{% block content %}
  <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">About this website</h1>
          <p class="lead">*talk about what this website does*</p>
        </div>
  </section>

  <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">The projects, tools, communities and people that helped this project come to life</h1>
          <p class="lead">*talk about bootstrap, gnome, gitlab, git, linux, flask, python and more*</p>
        </div>
  </section>

  <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">About me</h1>
          <p class="lead">*talk about me the coolest person ever*</p>
        </div>
  </section>
{% endblock %}
