{% extends "layout.html" %}

{% block title %}
 Chooser
{% endblock %}
{% block content %}
  <form action="/chooser" method="post">

    <div>
      Technical Expertise?
    </div>

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-purple">
        <input type="radio" name="technicalexpertise" value="0"/> Beginner
      </label>
      <label class="btn btn-purple">
        <input type="radio" name="technicalexpertise" value="1"/> Medium
      </label>
      <label class="btn btn-purple">
        <input type="radio" name="technicalexpertise" value="2"/> Advanced
      </label>
    </div>

    <div>
      Old Hardware Support (optional question)
    </div>

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-purple">
        <input type="radio" name="oldnew" value="0"/> Doesn't Matter
      </label>
      <label class="btn btn-purple">
        <input type="radio" name="oldnew" value="1"/> I need it
      </label>
    </div>

    <div>
      LTS (timely updates)
    </div>

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-purple">
        <input type="radio" name="lts" value="0"/> No
      </label>
      <label class="btn btn-purple">
        <input type="radio" name="lts" value="1"/> Yes
      </label>
    </div>

    <div>
      Free Software Certification
    </div>

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-purple">
        <input type="radio" name="fsfrating" value="0"/> No
      </label>
      <label class="btn btn-purple">
        <input type="radio" name="fsfrating" value="1"/> Yes
      </label>
    </div>

    <div>
      Lookalike? (optional question)
    </div>

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-purple">
        <input type="radio" name="lookalike" value="0"/> Doesn't Matter
      </label>
      <label class="btn btn-purple">
        <input type="radio" name="lookalike" value="mac"/> macOS
      </label>
      <label class="btn btn-purple">
        <input type="radio" name="lookalike" value="windows"/> Windows
      </label>
    </div>

    <div>
      Touch Support (optional question)
    </div>

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-purple">
        <input type="radio" name="touch" value="0"/> Doesn't Matter
      </label>
      <label class="btn btn-purple">
        <input type="radio" name="touch" value="1"/> Yes
      </label>
    </div>


    <div>
      Extreme Secure Category?
    </div>

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-purple">
        <input type="radio" name="secure" value="0"/> No
      </label>
      <label class="btn btn-purple">
        <input type="radio" name="secure" value="1"/> Yes
      </label>
    </div>


    <div>
      Niche Distro?
    </div>

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-purple">
        <input type="radio" name="niche" value="0"/> No
      </label>
      <label class="btn btn-purple">
        <input type="radio" name="niche" value="1"/> Yes
      </label>
    </div>

    <div>
      Custom Desktop?
    </div>

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-purple">
        <input type="radio" name="customtweaks" value="0"/> No
      </label>
      <label class="btn btn-purple">
        <input type="radio" name="customtweaks" value="1"/> Yes
      </label>
    </div>

    <!--input type="submit" value="Submit"-->
    <div>
      <p></p>
      <button type="submit" class="btn btn-outline-dark">Submit</button>
    </div>
  </form>
{% endblock %}
