{% extends "layout.html" %}

{% block title %}
 All Distros
{% endblock %}
{% block content %}
  <section class="jumbotron mx-5 my-5">
        <div class="container text-center">
          <h1 class="jumbotron-heading">All distros.</h1>
          <p class="lead">All distros in the database. Currently 44 distros curated! (always shuffled on reload of the page)</p>
        </div>
  </section>
  <div class="container">
    <div class="row justify-content-center align-items-center">
        {% for item in distros %}
          <div class="card mx-auto my-3 text-center" style="width: 22rem;">
            <div class="align-items-center">
              <img class="m-2"src="../static/logos/{{item[2]}}.png" alt="Card image cap" width="200" height=auto>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{item[0]}}</h5>
              <p class="card-text font-weight-bold">{{item[5]}}</p>
              <a href="{{item[3]}}" class="btn btn-purple" target="_blank">Website</a>
              <a href="{{item[4]}}" class="btn btn-success" target="_blank">Contribute</a>
            </div>
            <div class="card-footer">
              Desktop(s): {{item[1]}}
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
{% endblock %}
