<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <script src="../static/scripts.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <title>Librehunt: {% block title %}{% endblock %}</title>
    </head>
    <body>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </body>
</html>
