<!DOCTYPE html>
<html lang="en">
    <head>
<!-- favicon, twemoji's penguin, in base64 -->
<link href="data:image/x-icon;base64,AAABAAEAEBAAAAEAIABoBAAAFgAAACgAAAAQAAAAIAAAAAEAIAAAAAAAAAQAABILAAASCwAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAzrP//M6///zGz//8prv+9IKf/aCCn/2gprv+9MbP//zOv//8zrP//
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAM7f/5jGl9f8jP1P7mIl+///05///9Of/mYt//yM/U/sx
pfX/M7f/5gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAnEgT0nJSN///////7+/j/+/v4////
//+clo7/JxIE9AAAAAAAAAAAAAAAAAAAAAAAAAAAMy4pQgAAAAAwJyBwPDcx///////7+vf/+fj1
//n49f/7+vf//////zw3Mf8wJyByAAAAADMuKUIAAAAAAAAAADMuKewzLiliKSQfuJWSjv//////
+fj1//n49f/5+PX/+fj1//////+Vko7/KSQfuDMuKWIzLinsAAAAAAAAAAAzLinGNC8q/yQeGcvO
zcr///77//n49f/5+PX/+fj1//n49f///vv/0M7L/yQeGcs0Lyr/My4pxgAAAAAAAAAAMy4phzQv
Kv8hHBbn6+vo//z7+P/5+PX/+fj1//n49f/5+PX//Pv4/+vr6P8hHBbnNC8q/zMuKYcAAAAAAAAA
ADMuKTk0Lyr/IBsW/fPx7v/7+vf/+fj1//n49f/5+PX/+fj1//v69//z8e7/IBsW/TQvKv8zLik5
AAAAAAAAAAAAAAAANC8q/yIdGP/f3tr//fz5//n49f/5+PX/+fj1//n49f/9/Pn/397a/yIdGP80
Lyr/AAAAAAAAAAAAAAAAAAAAADMuKWwmIRz/s7Gt/////v/5+PX/+fj1//n49f/5+PX////+/7Ox
rf8mIRz/My4pbAAAAAAAAAAAAAAAAAAAAAAAAAAALSgj9mZhXf//////+fj1//n49f/5+PX/+fj1
//////9mYV3/LSgj9gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADItKAgiHBf/6ejk////////////
///////////p6OT/Ih0Y/zIuKQgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAALikkjEI8N//e
3Nr/g356/4N5cP/e0MX/QjAi/y4bDXgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAtJyL2Ix4Z/yQaEf8mZZH/JrP//y62//8zuP/9M7r/yQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAALikkKoyIhP//////VXeP/zGr//8zpvXuM6z/cQAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAqJR87Ix0X/y0jGv8yGAM3AAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAA4AcAAOAHAADwDwAAoAUAAIABAACAAQAAgAEAAIABAADAAwAAwAMAAOAHAADgBwAA8A8AAPgH
AAD4DwAA/D8AAA==" rel="icon" type="image/x-icon" />
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- My custom javascript -->
        <script src="../static/scripts.js"></script>

        <!-- JQuery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Custom Purple button CSS -->
        <link rel="stylesheet" href="../static/customPurpleButton.css">

        <!-- Custom Bootstrap Carousel example CSS shamelessly used xD -->
        <link rel="stylesheet" href="../static/customCarouselBootstrap.css">
        <!-- Title -->
        <title>Librehunt: {% block title %}{% endblock %}</title>
    </head>

    <body>
      <!-- Navbar with purple color -->
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #6d00bd;">
        <!-- home button (librehunt) -->
        <a class="navbar-brand" href="/">Librehunt</a>

        <!-- toggle button for mobile phones -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- main buttons (chooser, feedback, and about -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/feedback">Feedback</a>
            <a class="nav-item nav-link" href="/about">About</a>
          </div>
        </div>
      </nav>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
      <!-- bootstrap scripts at the end for the page to load faster -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
