{% extends "layout.html" %}
{% block title %}
 News
{% endblock %}
{% block content %}
  <!-- WEBSITE NEWS -->
  <section class="jumbotron text-center mx-5 mt-5 jumbotron-little-padding">
        <div class="container">
        <!-- reusing recommendations.html code for centering! -->
        <div class="container">
            <div class="row justify-content-center align-items-center">
              <div class="mx-auto my-3 text-center">
                <img src="../static/news/newspaper.png" alt="News icon" width="140" height="140" class="mb-3">
                <h1>News and updates!</h1>
              </div>
            </div>
        </div>
        </div>
  </section>

  <section class="jumbotron text-center mx-5 mt-5 jumbotron-little-padding">
        <div class="container">
          <h2>Librehunt 1.5! <span class="text-muted">- November 29th</span></h2>
        <!-- reusing recommendations.html code for centering! -->
        <div class="container">
            <div class="row justify-content-center align-items-center">
              <div class="mx-auto my-3 text-center">
                <p class="lead">Some slick upgrades to Librehunt, such as listening to your awesome feedback on Email and Twitter, and fixing the bug limiting the distro options for "advanced users", replacing the confusing "niche" feature with a "popularity" one, standardizing on the fonts used throughout the website, and getting this news portion on the site, for things like Librehunt updates!</p>
              </div>
            </div>
        </div>
        </div>
  </section>

  <section class="jumbotron text-center mx-5 mt-5 jumbotron-little-padding">
        <div class="container">
          <h2>Featured on Forbes! <span class="text-muted">- November 27th</span></h2>
        <!-- reusing recommendations.html code for centering! -->
        <div class="container">
            <div class="row justify-content-center align-items-center">
              <div class="mx-auto my-3 text-center">
                <p class="lead">Another major accomplishment, when Forbes covered my website! Thanks to Jason for covering my website (and another similar one, DistroChooser)! About time for Linux ✨!</p>
                <a href="https://twitter.com/killyourfm" class="btn btn-primary btn-responsive-block-full mb-2">Jason Evangelho's Twitter 🐦</a>
                <a href="https://forbes.com/sites/jasonevangelho/2018/11/27/choosing-linux-2-awesome-tools-to-find-your-perfect-linux-os/" class="btn btn-primary btn-responsive-block-full mb-2">The Forbes article 📰!</a>
              </div>
            </div>
        </div>
        </div>
  </section>

  <section class="jumbotron text-center mx-5 mt-5 jumbotron-little-padding">
        <div class="container">
          <h2>Librehunt version 1!<span class="text-muted">- October 1st</span></h2>
        <!-- reusing recommendations.html code for centering! -->
        <div class="container">
            <div class="row justify-content-center align-items-center">
              <div class="mx-auto my-3 text-center">
                <p class="lead">When the first version of Librehunt first came out! This news post was written much later, but it was essentially a milestone, after revamping the entire distro choosing logic, cleaning up the entire website, and learning so much more about setting up servers and the likes!</p>
              </div>
            </div>
        </div>
        </div>
  </section>
{% endblock %}
