{% extends "layout.html" %}

{% block title %}
 Recommendations
{% endblock %}
{% block content %}
  <!-- Jumbotron for when you get no matches -->
  <section class="jumbotron mx-5 my-5 jumbotron-little-little-padding">
        <div class="container text-center">
          <h1 class="jumbotron-heading">No matches! But don't worry!</h1>
          <p class="lead">That wasn't supposed to happen!? No distro matches (perfect nor similar) could be found. But, an anonymous mail has been automagically sent to the developer so he can fix it. Don't worry, relax, and wait for me to fix it!</p>
        </div>
  </section>
{% endblock %}
