{% extends "layout.html" %}

{% block title %}
 Recommendations
{% endblock %}
{% block content %}
  <!-- Jumbotron for when you get no matches -->
  <section class="mx-5 my-5">
        <div class="container text-center">
          <h1 class="jumbotron-heading">No matches! Quick, screenshot this!</h1>
          <p class="lead">That wasn't supposed to happen!? No distro matches (perfect nor similar) could be found. However, you can help us! Quick, screenshot the stuff below so the developer can fix it! And file an issue as seen on the feedback page. Make sure the entire code below is screenshotted.</p>
          <hr class="my-4">
          <a class="btn btn-purple btn-lg mb-3" href="mailto:aviwad@gmail.com?subject=I%20got%20a%20%22no%20matches%20found%22%20on%20Librehunt!&body=Here%20is%20a%20screenshot%20attached%3A">Give me feedback</a>
        </div>
        <div class="container jumbotron jumbotron-no-padding">
          <pre>
            <code>
technicalexpertise: {{ technicalexpertise }}
lts: {{ lts }}
oldnew: {{ oldnew }}
fsfrating: {{ fsfrating }}
lookalike: {{ lookalike }}
touch: {{ touch }}
secure: {{ secure }}
niche: {{ niche }}
customtweaks: {{ customtweaks }}
version: v1.0
            </code>
          </pre>
        </div>
  </section>
{% endblock %}
