{% extends "layout.html" %}

{% block title %}
 Recommendations
{% endblock %}
{% block content %}
  <div>
    Perfect matches!
  </div>
  {% for item in perfect %}
    <li>{{item}}</li>
  {% endfor %}
  <div>
    Similar Matches:
  </div>
  {% for item in lts %}
    <li>{{item}} - doesn't have lts option</li>
  {% endfor %}
  {% for item in fsfrating %}
    <li>{{item}} - doesn't have fsf option</li>
  {% endfor %}
  {% for item in customtweaks %}
    <li>{{item}} - doesn't have customtweaks option</li>
  {% endfor %}
  {% for item in secure %}
    <li>{{item}} - doesn't have secure option</li>
  {% endfor %}
  {% for item in niche %}
    <li>{{item}} - doesn't have niche option</li>
  {% endfor %}
{% endblock %}