{% extends "layout.html" %}

{% block title %}
 Recommendations
{% endblock %}
{% block content %}
  {% for item in isPerfect %}
    <section class="jumbotron text-center">
          <div class="container">
            <h1 class="jumbotron-heading">Perfect matches</h1>
            <p class="lead">You're in luck! A perfect match from the database of distro's curated in here!</p>
          </div>
    </section>

  <div class="container">
    <div class="row justify-content-center align-items-center">
        {% for item in perfect %}
          <div class="card mx-auto my-3 text-center" style="width: 18rem;">
            <img class="card-img-top" src="../static/logos/{{item[11]}}.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{item[0]}}</h5>
              <p class="card-text">TODO ADD DESCRIPTIONS (Perfect match!)</p>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{item[11]}}">
                More Details
              </button>
            </div>
            <div class="modal fade" id="{{item[11]}}" tabindex="-1" role="dialog" aria-labelledby="{{item[11]}}" style="display: none;" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="{{item[11]}}">More Details of {{item[0]}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <a href="{{item[13]}}" class="btn btn-primary" target="_blank">Website</a>
                    <a href="{{item[14]}}" class="btn btn-secondary" target="_blank">Contribute</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
  {% endfor %}
  <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Similar Matches</h1>
          <p class="lead">Similar matches, with distro's matching *almost* everything you wanted (what's missing will be written)</p>
        </div>
  </section>
  <div class="container">
    <div class="row justify-content-center align-items-center">
        {% for item in lts %}
          <div class="card mx-auto my-3 text-center" style="width: 18rem;">
            <img class="card-img-top" src="../static/logos/{{item[11]}}.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{item[0]}}</h5>
              <p class="card-text">TODO ADD DESCRIPTIONS</p>
              <a href="#" class="btn btn-primary">(has opposite of LTS)</a>
            </div>
          </div>
        {% endfor %}
        {% for item in fsfrating %}
          <div class="card mx-auto my-3 text-center" style="width: 18rem;">
            <img class="card-img-top" src="../static/logos/{{item[11]}}.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{item[0]}}</h5>
              <p class="card-text">TODO ADD DESCRIPTIONS</p>
              <a href="#" class="btn btn-primary">(has opposite of Free Software certification)</a>
            </div>
          </div>
        {% endfor %}
        {% for item in customtweaks %}
          <div class="card mx-auto my-3 text-center" style="width: 18rem;">
            <img class="card-img-top" src="../static/logos/{{item[11]}}.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{item[0]}}</h5>
              <p class="card-text">TODO ADD DESCRIPTIONS</p>
              <a href="#" class="btn btn-primary">(has opposite of Custom Desktop)</a>
            </div>
          </div>
        {% endfor %}
        {% for item in secure %}
          <div class="card mx-auto my-3 text-center" style="width: 18rem;">
            <img class="card-img-top" src="../static/logos/{{item[11]}}.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{item[0]}}</h5>
              <p class="card-text">TODO ADD DESCRIPTIONS</p>
              <a href="#" class="btn btn-primary">(has opposite of Secure)</a>
            </div>
          </div>
        {% endfor %}
        {% for item in niche %}
          <div class="card mx-auto my-3 text-center" style="width: 18rem;">
            <img class="card-img-top" src="../static/logos/{{item[11]}}.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{item[0]}}</h5>
              <p class="card-text">TODO ADD DESCRIPTIONS</p>
              <a href="#" class="btn btn-primary">(has opposite of Niche)</a>
            </div>
          </div>
        {% endfor %}
    </div>
  </div>

{% endblock %}
